doctype html
html(lang="en")
    head
        include ../modules/head
    body
        .wrapper
            .container-fluid
                .row.g-0
                    .col-3.w-2.profile-hidden
                        include ../modules/sidebar
                    .col-9.w-10
                            include ../modules/header-profile
                            .content
                                include ../modules/category
                                .content__block 
                                    include ../modules/posts
                                    include ../modules/right-block
        include ../modules/scripts
                        