doctype html
html(lang="en")
    head
        include ../modules/head
    body
        .wrapper
            .container-fluid
                include ../modules/header-post
                .post-wrapper
                    .row.g-0
                        .col-3.w-2
                            include ../modules/sidebar-post
                        .col-9.w-10
                            .content.post-content
                                include ../modules/post-category
                                .content__block 
                                    .block
                                        include ../modules/post-content
                                        include ../modules/comments
                                    include ../modules/right-block
        include ../modules/scripts
                        