doctype html
html(lang="en")
    head
        include ../modules/head
    body
        .wrapper
            .container-fluid
                .row.g-0
                    .col-3.w-2
                        include ../modules/sidebar-nav
                    .col-9.w-10
                            include ../modules/header
                            .content.content-setting
                                .content__block 
                                    include ../modules/setting-content
        include ../modules/scripts
                        