block header-post
    header.header-post.header-fixed 
        .row.g-0 
            .col-5 
                .logo 
                    img.logo__img(src="./img/logo.png", alt="")
            .col-7
                .header__content
                    .icons-block 
                        span.icons-block__item 
                            <i class="bi bi-person-fill"></i>
                        span.icons-block__item 
                            <i class="bi bi-list"></i>
                        span.icons-block__item 
                            <i class="bi bi-heart-fill"></i>
                        .avatar 
                            img.avatar__img(src="./img/profil.png", alt="")
                    .icons-block 
                        span.icons-block__item 
                            <i class="bi bi-envelope-fill"></i>
                        span.icons-block__item 
                            <i class="bi bi-gear-fill"></i>
                        span.icons-block__item 
                            <i class="bi bi-search"></i>
                