block header
    header.header.header-fixed
        .burger 
            i.bi.bi-list
        .logo-mobile
            a.logo-mobile__link(href="#")  
                span.logo-mobile__darkblue Proof
                span.logo-mobile__blue People
        .header__content
            .icons-block#icons-block-one 
                a(href="#").icons-block__item#profile 
                    <i class="bi bi-person-fill"></i>
                a(href="#").icons-block__item#bi-list 
                    <i class="bi bi-list"></i>
                a(href="#").icons-block__item 
                    <i class="bi bi-heart-fill"></i>
            .avatar-wrapper
                svg.avatar-icon(width='15' height='37' viewbox='0 0 22 37' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M19.9688 2.00049L2.99825 18.5843L19.9688 35.168' stroke='#7aa8c7' stroke-width='4')
                .avatar 
                    img.avatar__img(src="./img/profil.png", alt="")
            .icons-block#icons-block-two 
                a(href="#").icons-block__item 
                    <i class="bi bi-envelope-fill"></i>
                a(href="#").icons-block__item 
                    <i class="bi bi-gear-fill"></i>
                span.icons-block__item#search-icon 
                    <i class="bi bi-search"></i>
            ul.nav-mobile
                button.btn.nav-mobile__btn-close
                    i.bi.bi-x
                .user-mobile 
                    span.user-mobile__name Александ Дворецкий
                    .user-mobile__avatar 
                        img.user-mobile__img(src="./img/profil.png", alt="")
                a(href="#").icons-block__item
                    span.icons-block__text Профиль 
                    i.bi.bi-person-fill
                a(href="#").icons-block__item
                    span.icons-block__text Профиль 
                    i.bi.bi-list
                a(href="#").icons-block__item
                    span.icons-block__text Профиль  
                    i.bi.bi-heart-fill
                a(href="#").icons-block__item 
                    span.icons-block__text Профиль  
                    i.bi.bi-envelope-fill
                a(href="#").icons-block__item 
                    span.icons-block__text Профиль  
                    i.bi.bi-gear-fill
                span.icons-block__item#search-icon
                    span.icons-block__text Профиль 
                    i.bi.bi-search