block post-category
    .category
        ul.category__nav 
            li.category__item 
                a(href="#").category__link ниочем
            li.category__item 
                a(href="#").category__link нечто
            li.category__item 
                a(href="#").category__link ктото
            li.category__item 
                a(href="#").category__link никто    
            li.category__item 
                a(href="#").category__link когда
        span.category__block
            <i class="bi bi-three-dots"></i>
        form(action="#").search-form
            .input-wrapper.post-search 
                span.input-img 
                    <i class="bi bi-search"></i>

            