block posts
    .posts 
        .posts__item 
            .posts__img-wrapper 
                img.posts__img(src="./img/big-post-1.png", alt="Белые драматические облака")
            .posts__info 
                a(href="#").posts__category Ниочем
                .posts__count-wrapper 
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-heart-fill"></i>
                        span.posts__number 147
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-chat-right-fill"></i>
                        span.posts__number 57
            a(href="#").posts__title Белые драматические облака
            .posts-profile 
                .posts-profile__avatar 
                    img.posts-profile__img(src="./img/avatar-1.png", alt="")
                a(href="#").posts-profile__name Александр Дворецкий
        .posts__item 
            .posts__img-wrapper 
                img.posts__img(src="./img/big-post-2.png", alt="Белые драматические облака")
            .posts__info 
                a(href="#").posts__category Ниочем
                .posts__count-wrapper 
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-bookmark-fill"></i>
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-heart-fill"></i>
                        span.posts__number 147
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-chat-right-fill"></i>
                        span.posts__number 57
            a(href="#").posts__title Очень красивое небо после дождя
            .posts-profile 
                .posts-profile__avatar 
                    img.posts-profile__img(src="./img/avatar-3.png", alt="")
                a(href="#").posts-profile__name Александр Дворецкий

        .posts__item 
            .posts__img-wrapper 
                img.posts__img(src="./img/big-post-3.png", alt="Белые драматические облака")
            .posts__info 
                a(href="#").posts__category Ниочем
                .posts__count-wrapper 
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-heart-fill"></i>
                        span.posts__number 147
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-chat-right-fill"></i>
                        span.posts__number 57
            a(href="#").posts__title Оранжевый закат на  фоне гор
            .posts-profile 
                .posts-profile__avatar 
                    img.posts-profile__img(src="./img/avatar-1.png", alt="")
                a(href="#").posts-profile__name Александр Дворецкий
        .posts__item 
            .posts__img-wrapper 
                img.posts__img(src="./img/big-post-4.png", alt="Белые драматические облака")
            .posts__info 
                a(href="#").posts__category Ниочем
                .posts__count-wrapper 
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-heart-fill"></i>
                        span.posts__number 147
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-chat-right-fill"></i>
                        span.posts__number 57
            a(href="#").posts__title Старенький домик в  далекой степи
            .posts-profile 
                .posts-profile__avatar 
                    img.posts-profile__img(src="./img/avatar-1.png", alt="")
                a(href="#").posts-profile__name Александр Дворецкий
        .posts__item 
            .posts__img-wrapper 
                img.posts__img(src="./img/big-post-4.png", alt="Белые драматические облака")
            .posts__info 
                a(href="#").posts__category Ниочем
                .posts__count-wrapper 
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-heart-fill"></i>
                        span.posts__number 147
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-chat-right-fill"></i>
                        span.posts__number 57
            a(href="#").posts__title Старенький домик в  далекой степи
            .posts-profile 
                .posts-profile__avatar 
                    img.posts-profile__img(src="./img/avatar-1.png", alt="")
                a(href="#").posts-profile__name Александр Дворецкий
        .posts__item 
            .posts__img-wrapper 
                img.posts__img(src="./img/big-post-4.png", alt="Белые драматические облака")
            .posts__info 
                a(href="#").posts__category Ниочем
                .posts__count-wrapper 
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-heart-fill"></i>
                        span.posts__number 147
                    .posts__count 
                        span.posts__icon 
                            <i class="bi bi-chat-right-fill"></i>
                        span.posts__number 57
            a(href="#").posts__title Старенький домик в  далекой степи
            .posts-profile 
                .posts-profile__avatar 
                    img.posts-profile__img(src="./img/avatar-1.png", alt="")
                a(href="#").posts-profile__name Александр Дворецкий







                