block post-content
        .post-content-wrapper
            .post-block 
                span.post-block__heading Мысли
                h2.post-block__title Почему простота очень важна абсолютно во всем
                .post-block__profile 
                    .posts-profile 
                        .posts-profile__avatar 
                            img.posts-profile__img(src="./img/avatar-3.png", alt="")
                        a(href="#").posts-profile__name Александр Дворецкий
                    .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
                .post-block__btn-wrapper 
                    img(src="./img/1.png", alt="")
            .post-content__text Почему мы считаем, что простота — это хорошо? Потому что, когда мы имеем дело с предметами, нам важно чувствовать, что мы управляем ими. Упорядочивая хаос, вы находите способ подчинить себе предмет. Простота — это не только наглядный стиль. Это не минимализм или отсутствие беспорядка. 
            .post-quote
                .post-quote__img-wrapper 
                    img.post-quote__img(src="./img/2.png", alt="")
                .post-quote__text Чтобы достичь простоты, необходимо прорыть туннель в недрах сложности. Чтобы быть по-настоящему простым, нужно добраться до самой глубины. 
            .post-content__text К примеру, если вам не хватает каких-нибудь винтиков, вы рискуете cоздать нечто чрезмерно сложное и запутанное. Но куда лучше сосредоточиться на простоте, познать её, разобраться, из чего она состоит. Чтобы избавиться от второстепенного, нужно проникнуть в суть предмета. 
            .post-tags
                span.post-tags__title Ключевые слова: 
                a.post-tags__link(href="#") дизайн,
                a.post-tags__link(href="#") простота,
                a.post-tags__link(href="#") джонни айв,
            .post-share 
                span.post-share__title Рассказать друзьям:
                .post-share__btn 
                    img(src="./img/1.png", alt="")
