block right-block-feed
    .right-block
        .posts-small-list 
            .posts-small-list__item
                .posts-small-list__img-wrapper
                    img.posts-small-list__img(src="./img/post-1.png", alt="") 
                .posts-small-list__info
                    a(href="#").posts-small-list__title Оранжевый закат на  фоне гор
                    .posts-profile-small
                        .posts-profile-small__img-wrapper 
                            img.posts-profile-small__img(src="./img/avatar-2.png", alt="")
                        a(href="#").posts-profile-small__title Александр Романо
            .posts-small-list__item
                .posts-small-list__img-wrapper
                    img.posts-small-list__img(src="./img/post-4.png", alt="") 
                .posts-small-list__info
                    a(href="#").posts-small-list__title Украинское, нежное пшеничное поле
                    .posts-profile-small
                        .posts-profile-small__img-wrapper 
                            img.posts-profile-small__img(src="./img/avatar-3.png", alt="")
                        a(href="#").posts-profile-small__title Павел Федоров
            .posts-small-list__item
                .posts-small-list__img-wrapper
                    img.posts-small-list__img(src="./img/post-2.png", alt="") 
                .posts-small-list__info
                    a(href="#").posts-small-list__title Сказочное место на юге Бельгии
                    .posts-profile-small
                        .posts-profile-small__img-wrapper 
                            img.posts-profile-small__img(src="./img/avatar-4.png", alt="")
                        a(href="#").posts-profile-small__title Виталий Шумаков
        .top-post 
            .posts__item 
                .posts__img-wrapper 
                    img.posts__img(src="./img/big-post-1.png", alt="Белые драматические облака")
                .posts__info 
                    a(href="#").posts__category Ниочем
                    .posts__count-wrapper 
                        .posts__count 
                            span.posts__icon 
                             <i class="bi bi-heart-fill"></i>
                            span.posts__number 147
                        .posts__count 
                            span.posts__icon 
                                <i class="bi bi-chat-right-fill"></i>
                            span.posts__number 57
                a(href="#").posts__title Белые драматические облака
                .posts-profile 
                    .posts-profile__arrow
                        img(src="./img/Icon.svg", alt="")
                    .posts-profile__avatar 
                        img.posts-profile__img(src="./img/avatar-1.png", alt="")
                    a(href="#").posts-profile__name Александр Дворецкий


        