block sidebar-post
    .sidebar.sidebar-post
        .subscribe
            button.subscribe__btn 
                a.subscribe__link(href="#") Подписаться на Бари Александрова
        .sidebar-posts.border-post
            .posts-small-list 
                h3.posts-small-list__heading другие посты автора
                .posts-small-list__item
                    .posts-small-list__img-wrapper
                        img.posts-small-list__img(src="./img/post-1.png", alt="") 
                    .posts-small-list__info
                        a(href="#").posts-small-list__title Оранжевый закат на  фоне гор
                        .posts-profile-small
                            .posts-profile-small__img-wrapper 
                                img.posts-profile-small__img(src="./img/avatar-2.png", alt="")
                            .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
                .posts-small-list__item
                    .posts-small-list__img-wrapper
                        img.posts-small-list__img(src="./img/post-4.png", alt="") 
                    .posts-small-list__info
                        a(href="#").posts-small-list__title Украинское, нежное пшеничное поле
                        .posts-profile-small
                            .posts-profile-small__img-wrapper 
                                img.posts-profile-small__img(src="./img/avatar-3.png", alt="")
                            .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
                .posts-small-list__item
                    .posts-small-list__img-wrapper
                        img.posts-small-list__img(src="./img/post-2.png", alt="") 
                    .posts-small-list__info
                        a(href="#").posts-small-list__title Сказочное место на юге Бельгии
                        .posts-profile-small
                            .posts-profile-small__img-wrapper 
                                img.posts-profile-small__img(src="./img/avatar-4.png", alt="")
                            .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
        .sidebar-posts.border-post.mt-4
            .posts-small-list 
                h3.posts-small-list__heading Популярные посты
                .posts-small-list__item
                    .posts-small-list__img-wrapper
                        img.posts-small-list__img(src="./img/post-1.png", alt="") 
                    .posts-small-list__info
                        a(href="#").posts-small-list__title Оранжевый закат на  фоне гор
                        .posts-profile-small
                            .posts-profile-small__img-wrapper 
                                img.posts-profile-small__img(src="./img/avatar-2.png", alt="")
                            .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
                .posts-small-list__item
                    .posts-small-list__img-wrapper
                        img.posts-small-list__img(src="./img/post-4.png", alt="") 
                    .posts-small-list__info
                        a(href="#").posts-small-list__title Украинское, нежное пшеничное поле
                        .posts-profile-small
                            .posts-profile-small__img-wrapper 
                                img.posts-profile-small__img(src="./img/avatar-3.png", alt="")
                            .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
                .posts-small-list__item
                    .posts-small-list__img-wrapper
                        img.posts-small-list__img(src="./img/post-2.png", alt="") 
                    .posts-small-list__info
                        a(href="#").posts-small-list__title Сказочное место на юге Бельгии
                        .posts-profile-small
                            .posts-profile-small__img-wrapper 
                                img.posts-profile-small__img(src="./img/avatar-4.png", alt="")
                            .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
        .subscribe-block.mt-4
            h3.subscribe-block__title Подписать на email атора
            form(action="#") 
                .subscribe-block__input 
                    input.form-control(type="email" name="email" id="email" placeholder="Введите email" required)
                button.btn.btn-subscribe Подписаться