block sidebar-posts
    .sidebar.sidebar-fixed 
        button.btn.posts-btn-close
            i.bi.bi-x
        .logo 
            img.logo__img(src="./img/logo.png", alt="")
        .sidebar-posts
            .posts-small-list 
                .posts-small-list__item
                    .posts-small-list__img-wrapper
                        img.posts-small-list__img(src="./img/post-1.png", alt="") 
                    .posts-small-list__info
                        a(href="#").posts-small-list__title Оранжевый закат на  фоне гор
                        .posts-profile-small
                            .posts-profile-small__img-wrapper 
                                img.posts-profile-small__img(src="./img/avatar-2.png", alt="")
                            .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
                .posts-small-list__item
                    .posts-small-list__img-wrapper
                        img.posts-small-list__img(src="./img/post-4.png", alt="") 
                    .posts-small-list__info
                        a(href="#").posts-small-list__title Украинское, нежное пшеничное поле
                        .posts-profile-small
                            .posts-profile-small__img-wrapper 
                                img.posts-profile-small__img(src="./img/avatar-3.png", alt="")
                            .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
                .posts-small-list__item
                    .posts-small-list__img-wrapper
                        img.posts-small-list__img(src="./img/post-2.png", alt="") 
                    .posts-small-list__info
                        a(href="#").posts-small-list__title Сказочное место на юге Бельгии
                        .posts-profile-small
                            .posts-profile-small__img-wrapper 
                                img.posts-profile-small__img(src="./img/avatar-4.png", alt="")
                            .posts__count-wrapper 
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-heart-fill"></i>
                                    span.posts__number 147
                                .posts__count 
                                    span.posts__icon 
                                        <i class="bi bi-chat-right-fill"></i>
                                    span.posts__number 57
        .tape
            a.tape__link(href="#") Пользовательская лента