block sidebar-nav
    .sidebar.sidebar-fixed 
        button.btn.btn-close-right-block
            i.bi.bi-list
        .logo 
            img.logo__img(src="./img/logo.png", alt="")
        .nav-menu 
            ul.nav-menu__wrapper 
                li.nav-menu__item 
                    a(href="#").nav-menu__link
                        i.bi.bi-person-fill
                        span.nav-menu__text Личные настройки
                li.nav-menu__item 
                    a(href="#").nav-menu__link
                        i.bi.bi-gear-wide
                        span.nav-menu__text Найстройки пруфа
                li.nav-menu__item 
                    a(href="#").nav-menu__link
                        i.bi.bi-lock-fill
                        span.nav-menu__text Настройки доступа
                li.nav-menu__item 
                    a(href="#").nav-menu__link
                        i.bi.bi-exclamation-circle-fill
                        span.nav-menu__text Оповещения
                li.nav-menu__item 
                    a(href="#").nav-menu__link
                        i.bi.bi-shield-fill-minus
                        span.nav-menu__text Приватность
                li.nav-menu__item 
                    a(href="#").nav-menu__link
                        i.bi.bi-x-square-fill
                        span.nav-menu__text Черный список
                li.nav-menu__item 
                    a(href="#").nav-menu__link
                        i.bi.bi-arrow-left-right
                        span.nav-menu__text Настройки полномочий аккаунта